In [7]:
import pyspark
import pandas as pd
from pyspark.sql import functions as F

In [2]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("train_data .csv")

In [2]:
df.show()

+-------+-------+----------+------------+--------+---------------+-----+---------+---------+--------------+------------------------------+---------+-----------+-----------------+-------------+--------+----------+----------+---+---------+------+---------------+--------------+-----------+------------+----------------+------------+-------------------+------------------------+----------+----------+-------------------+------------------+-------+-----------+----+----+----+----+----+----+----------+
|loan_id|user_id|total_loan|year_of_loan|interest|monthly_payment|class|sub_class|work_type| employer_type|                      industry|work_year|house_exist|house_loan_status|censor_status|marriage|offsprings|issue_date|use|post_code|region|debt_loan_ratio|del_in_18month|scoring_low|scoring_high|pub_dero_bankrup|early_return|early_return_amount|early_return_amount_3mon|recircle_b|recircle_u|initial_list_status|earlies_credit_mon|  title|policy_code|  f0|  f1|  f2|  f3|  f4|  f5|is_default|
+-------+-------+----------+------------+--------+---------------+-----+---------+---------+--------------+------------------------------+---------+-----------+-----------------+-------------+--------+----------+----------+---+---------+------+---------------+--------------+-----------+------------+----------------+------------+-------------------+------------------------+----------+----------+-------------------+------------------+-------+-----------+----+----+----+----+----+----+----------+
| 119262|      0|   12000.0|           5|   11.53|          264.1|    B|       B5|     职员|      普通企业|                        采矿业|     null|          0|                0|            2|       0|         0|2015-06-01|  0|    814.0|     4|           5.07|           1.0|      670.0|       674.0|             1.0|           0|                  0|                     0.0|    3855.0|      23.1|                  0|          Mar-1984|    0.0|        1.0| 1.0| 0.0| 8.0|17.0| 8.0| 1.0|         1|
| 369815|      1|    8000.0|           3|   13.98|         273.35|    C|       C3|     其他|      普通企业|                      国际组织|10+ years|          0|                1|            2|       1|         3|2010-10-01|  2|    240.0|    21|          15.04|           0.0|      725.0|       729.0|             0.0|           0|                  0|                     0.0|  118632.0|      99.9|                  1|          Jan-1992|   94.0|        1.0|null|null|null|null|null|null|         0|
| 787833|      2|   20000.0|           5|   17.99|         507.76|    D|       D2|     工人|      上市企业|信息传输、软件和信息技术服务业|10+ years|          0|                0|            1|       0|         0|2016-08-01|  0|    164.0|    20|          17.38|           1.0|      675.0|       679.0|             0.0|           0|                  0|                     0.0|   15670.0|      72.5|                  0|          Oct-1996|    0.0|        1.0| 6.0| 0.0|10.0| 8.0| 3.0| 0.0|         0|
| 671675|      3|   10700.0|           3|   10.16|         346.07|    B|       B1|     职员|      普通企业|          电力、热力生产供应业|  2 years|          2|                0|            2|       0|         0|2013-05-01|  4|     48.0|    10|          27.87|           0.0|      710.0|       714.0|             0.0|           0|                  0|                     0.0|   18859.0|      78.6|                  0|          Jul-2000|41646.0|        1.0| 3.0| 0.0| 4.0|11.0| 6.0| 0.0|         0|
| 245160|      4|    8000.0|           3|    8.24|         251.58|    B|       B1|     其他|      政府机构|                        金融业|  5 years|          1|                2|            0|       0|         0|2017-04-01|  4|    122.0|     9|           3.47|           0.0|      660.0|       664.0|             0.0|           0|                  0|                     0.0|    8337.0|      67.8|                  1|          Mar-2000|    4.0|        1.0| 3.0| 0.0| 8.0| 6.0| 4.0| 1.0|         0|
| 647107|      5|   28000.0|           3|   15.59|         978.74|    C|       C5|     职员|幼教与中小学校|            公共服务、社会组织|10+ years|          2|                0|            2|       0|         0|2016-08-01|  0|    149.0|    22|          24.33|           0.0|      680.0|       684.0|             0.0|           0|                  0|                     0.0|   40727.0|      88.6|                  0|          May-2002|    0.0|        1.0| 3.0| 0.0| 6.0|10.0| 3.0| 1.0|         1|
| 289151|      6|    6000.0|           3|    7.89|         187.72|    A|       A5|     职员|      政府机构|信息传输、软件和信息技术服务业|  8 years|          0|                1|            0|       0|         0|2015-07-01|  0|    634.0|    32|           8.43|           0.0|      710.0|       714.0|             0.0|           0|                  0|                     0.0|     724.0|      14.2|                  1|          Aug-2000|    0.0|        1.0| 3.0| 0.0|13.0| 5.0| 5.0| 1.0|         0|
| 750155|      7|   20000.0|           3|   12.79|         671.86|    C|       C1|   工程师|      上市企业|                        金融业|10+ years|          0|                0|            2|       0|         0|2016-07-01|  0|    197.0|     4|          19.48|           0.0|      690.0|       694.0|             0.0|           0|                  0|                     0.0|   16694.0|      71.6|                  0|          Oct-2005|    0.0|        1.0| 8.0| 0.0| 3.0|12.0| 8.0| 0.0|         0|
| 387697|      8|    9450.0|           3|   13.11|         318.91|    B|       B4|     工人|      政府机构|信息传输、软件和信息技术服务业|  2 years|          0|                0|            0|       1|         0|2012-08-01|  4|     19.0|    14|          18.64|           0.0|      705.0|       709.0|             0.0|           0|                  0|                     0.0|   14291.0|      66.5|                  1|          Apr-2001|  847.0|        1.0|null|null|null|null|null|null|         0|
| 186940|      9|    4500.0|           3|    5.32|         135.52|    A|       A1|     其他|  高等教育机构|                  文化和体育业|10+ years|          0|                0|            0|       1|         0|2017-02-01|  9|    468.0|     0|            7.4|           0.0|      805.0|       809.0|             0.0|           0|                  0|                     0.0|    1623.0|      10.5|                  0|          Sep-1992|   10.0|        1.0| 2.0| 0.0| 9.0| 8.0| 2.0| 0.0|         0|
| 740415|     10|   21850.0|           3|   11.44|         719.91|    B|       B4|     职员|    世界五百强|                        建筑业|10+ years|          0|                0|            2|       1|         3|2016-11-01|  0|    466.0|    36|          27.67|           0.0|      725.0|       729.0|             0.0|          14|                840|      183.73377634804947|  501094.0|      53.2|                  0|          Feb-1986|    0.0|        1.0| 3.0| 0.0|14.0| 6.0| 2.0| 0.0|         0|
| 573270|     11|   10500.0|           3|   10.99|         343.71|    B|       B4|     职员|      政府机构|信息传输、软件和信息技术服务业|  3 years|          1|                1|            1|       1|         0|2015-04-01|  0|     33.0|    22|          17.49|           0.0|      705.0|       709.0|             0.0|           0|                  0|                     0.0|   14325.0|      74.6|                  0|          Aug-2004|    0.0|        1.0| 9.0| 0.0| 3.0|15.0| 8.0| 0.0|         0|
| 607714|     12|   22000.0|           3|   15.61|         769.23|    D|       D1|     其他|      政府机构|                  文化和体育业|   1 year|          0|                0|            1|       1|         0|2015-03-01|  0|    765.0|    39|          27.49|           0.0|      680.0|       684.0|             1.0|           0|                  0|                     0.0|   23455.0|      29.8|                  1|          Jul-1996|    0.0|        1.0|13.0| 0.0| 5.0|39.0|19.0| 0.0|         0|
| 405331|     13|    9600.0|           3|    8.18|         301.63|    B|       B1|     职员|      普通企业|                        金融业| < 1 year|          1|                1|            1|       0|         0|2015-08-01|  4|    157.0|     8|          18.73|           0.0|      680.0|       684.0|             0.0|           0|                  0|                     0.0|    7038.0|      58.6|                  0|          Feb-2001|    4.0|        1.0| 8.0| 0.0| 4.0| 8.0| 3.0| 0.0|         1|
| 477316|     14|   16000.0|           5|   14.99|         380.56|    C|       C4|   公务员|幼教与中小学校|                  住宿和餐饮业|  4 years|          0|                1|            1|       0|         0|2017-04-01|  0|    152.0|    14|          16.52|           0.0|      690.0|       694.0|             0.0|           0|                  0|                     0.0|   11375.0|      35.0|                  0|          Oct-1993|    0.0|        1.0| 7.0|null| 5.0|17.0| 8.0| 0.0|         0|
| 325317|     15|   17075.0|           5|   18.55|         438.72|    E|       E2|     其他|      普通企业|                        建筑业|  7 years|          0|                1|            1|       0|         0|2015-08-01|  0|    195.0|    38|          34.07|           0.0|      695.0|       699.0|             0.0|           0|                  0|                     0.0|   28938.0|      70.2|                  0|          Jan-1985|    0.0|        1.0| 6.0| 0.0| 7.0|18.0| 8.0| 0.0|         1|
| 487138|     16|   28675.0|           3|   13.18|         968.67|    C|       C3|     其他|      普通企业|          电力、热力生产供应业|10+ years|          1|                1|            2|       0|         0|2015-11-01|  0|    156.0|    18|          17.69|           1.0|      675.0|       679.0|             0.0|           0|                  0|                     0.0|   45154.0|      62.3|                  1|          Oct-1992|    0.0|        1.0| 4.0| 0.0|12.0| 8.0| 4.0| 0.0|         1|
| 772918|     17|    5925.0|           3|   13.49|         201.04|    C|       C2|     其他|    世界五百强|                  住宿和餐饮业|10+ years|          1|                0|            0|       1|         0|2016-10-01|  4|    163.0|    21|          11.52|           1.0|      670.0|       674.0|             0.0|           0|                  0|                     0.0|    9192.0|      62.1|                  0|          Jan-1997|    4.0|        1.0| 6.0| 0.0| 5.0| 8.0| 6.0| 2.0|         0|
| 470805|     18|   12000.0|           5|   14.99|         285.42|    C|       C4|   公务员|      普通企业|                      国际组织|10+ years|          0|                0|            1|       1|         5|2016-11-01|  0|    512.0|    21|          13.79|           0.0|      675.0|       679.0|             1.0|           0|                  0|                     0.0|    9060.0|      41.6|                  0|          May-1998|    0.0|        1.0| 8.0| 0.0| 5.0|17.0|10.0| 4.0|         0|
| 402970|     19|    9600.0|           3|    7.91|         300.44|    A|       A5|     其他|      普通企业|            公共服务、社会组织|  4 years|          1|                0|            2|       1|         5|2016-01-01|  0|    108.0|    21|          12.14|           0.0|      675.0|       679.0|             0.0|           0|                  0|                     0.0|   18811.0|      80.4|                  0|          Dec-1996|    0.0|        1.0| 7.0| 0.0| 6.0|10.0| 7.0| 0.0|         1|
+-------+-------+----------+------------+--------+---------------+-----+---------+---------+--------------+------------------------------+---------+-----------+-----------------+-------------+--------+----------+----------+---+---------+------+---------------+--------------+-----------+------------+----------------+------------+-------------------+------------------------+----------+----------+-------------------+------------------+-------+-----------+----+----+----+----+----+----+----------+
only showing top 20 rows

In [3]:
df.printSchema()

root
 |-- loan_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- total_loan: double (nullable = true)
 |-- year_of_loan: integer (nullable = true)
 |-- interest: double (nullable = true)
 |-- monthly_payment: double (nullable = true)
 |-- class: string (nullable = true)
 |-- sub_class: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- employer_type: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- work_year: string (nullable = true)
 |-- house_exist: integer (nullable = true)
 |-- house_loan_status: integer (nullable = true)
 |-- censor_status: integer (nullable = true)
 |-- marriage: integer (nullable = true)
 |-- offsprings: integer (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- use: integer (nullable = true)
 |-- post_code: double (nullable = true)
 |-- region: integer (nullable = true)
 |-- debt_loan_ratio: double (nullable = true)
 |-- del_in_18month: double (nullable = true)
 |-- scoring_low: double (nullable = true)
 |-- scoring_high: double (nullable = true)
 |-- pub_dero_bankrup: double (nullable = true)
 |-- early_return: integer (nullable = true)
 |-- early_return_amount: integer (nullable = true)
 |-- early_return_amount_3mon: double (nullable = true)
 |-- recircle_b: double (nullable = true)
 |-- recircle_u: double (nullable = true)
 |-- initial_list_status: integer (nullable = true)
 |-- earlies_credit_mon: string (nullable = true)
 |-- title: double (nullable = true)
 |-- policy_code: double (nullable = true)
 |-- f0: double (nullable = true)
 |-- f1: double (nullable = true)
 |-- f2: double (nullable = true)
 |-- f3: double (nullable = true)
 |-- f4: double (nullable = true)
 |-- f5: double (nullable = true)
 |-- is_default: integer (nullable = true)

In [6]:
df["loan_id","total_loan"].describe().show()

+-------+------------------+-----------------+
|summary|           loan_id|       total_loan|
+-------+------------------+-----------------+
|  count|            300000|           300000|
|   mean|      399478.20423|      14399.20875|
| stddev|230869.13514231675|8709.179953286352|
|    min|                 0|            500.0|
|    max|            799999|          40000.0|
+-------+------------------+-----------------+

In [12]:
count_num = 0
for i in range(0,41000,1000):
    temp_df = df.select(df.total_loan.between(i,i+999).alias("total_loan"))
    temp_df = temp_df.where("total_loan=1")
    count_num = temp_df.count()
    print("between %d and %d  total loan: %d"%(i,i+1000,count_num))

between 0 and 1000  total loan: 2
between 1000 and 2000  total loan: 4043
between 2000 and 3000  total loan: 6341
between 3000 and 4000  total loan: 9317
between 4000 and 5000  total loan: 10071
between 5000 and 6000  total loan: 16514
between 6000 and 7000  total loan: 15961
between 7000 and 8000  total loan: 12789
between 8000 and 9000  total loan: 16384
between 9000 and 10000  total loan: 10458
between 10000 and 11000  total loan: 27170
between 11000 and 12000  total loan: 7472
between 12000 and 13000  total loan: 20513
between 13000 and 14000  total loan: 5928
between 14000 and 15000  total loan: 8888
between 15000 and 16000  total loan: 18612
between 16000 and 17000  total loan: 11277
between 17000 and 18000  total loan: 4388
between 18000 and 19000  total loan: 9342
between 19000 and 20000  total loan: 4077
between 20000 and 21000  total loan: 17612
between 21000 and 22000  total loan: 5507
between 22000 and 23000  total loan: 3544
between 23000 and 24000  total loan: 2308
between 24000 and 25000  total loan: 8660
between 25000 and 26000  total loan: 8813
between 26000 and 27000  total loan: 1604
between 27000 and 28000  total loan: 1645
between 28000 and 29000  total loan: 5203
between 29000 and 30000  total loan: 1144
between 30000 and 31000  total loan: 6864
between 31000 and 32000  total loan: 752
between 32000 and 33000  total loan: 1887
between 33000 and 34000  total loan: 865
between 34000 and 35000  total loan: 587
between 35000 and 36000  total loan: 11427
between 36000 and 37000  total loan: 364
between 37000 and 38000  total loan: 59
between 38000 and 39000  total loan: 85
between 39000 and 40000  total loan: 30
between 40000 and 41000  total loan: 1493

In [65]:
all_type = df.select(df.employer_type).distinct().toPandas()
all_type = all_type['employer_type'].tolist()
print(all_type)
la = []
lb = []
for i in all_type:
    temp_df = df.select(F.when(df.employer_type==i,1).otherwise(0).alias("employer_type"))
    temp_df = temp_df.where("employer_type=1")
    count_num = temp_df.count()
    la.append(i)
    lb.append(count_num)
    print("the class is %s    the number is %f"%(i,count_num/300000))
dt = {'公司类型':la, '类型占比':lb}
dt = pd.DataFrame(dt)
dt.to_csv("公司类型.csv")

['幼教与中小学校', '上市企业', '政府机构', '世界五百强', '高等教育机构', '普通企业']
the class is 幼教与中小学校    the number is 0.099983
the class is 上市企业    the number is 0.100127
the class is 政府机构    the number is 0.258153
the class is 世界五百强    the number is 0.053707
the class is 高等教育机构    the number is 0.033687
the class is 普通企业    the number is 0.454343

In [66]:
df.withColumn("total_money",df.year_of_loan*df.monthly_payment*12-df.total_loan).select('user_id','total_money').show()
dt=df.withColumn("total_money",df.year_of_loan*df.monthly_payment*12-df.total_loan).select('user_id','total_money').toPandas()
dt.to_csv("total_moeny.csv")

+-------+------------------+
|user_id|       total_money|
+-------+------------------+
|      0|            3846.0|
|      1|1840.6000000000004|
|      2|10465.600000000002|
|      3|1758.5200000000004|
|      4| 1056.880000000001|
|      5| 7234.639999999999|
|      6| 757.9200000000001|
|      7| 4186.959999999999|
|      8|2030.7600000000002|
|      9|378.72000000000116|
|     10| 4066.760000000002|
|     11|1873.5599999999977|
|     12| 5692.279999999999|
|     13|1258.6800000000003|
|     14|6833.5999999999985|
|     15| 9248.200000000004|
|     16| 6197.119999999995|
|     17|1312.4400000000005|
|     18| 5125.200000000001|
|     19|1215.8400000000001|
+-------+------------------+
only showing top 20 rows

In [67]:
from pyspark.sql.functions import col
all_type = df.select(df.work_year).distinct().toPandas()['work_year'].tolist()
all_type.remove(None)
all_type.remove('5 years')
all_type.remove('1 year')
all_type.remove('2 years')
all_type.remove('4 years')
all_type.remove('3 years')
all_type.remove('< 1 year')
print(all_type)

temp_df = df.filter(col("work_year").isin(all_type))
temp_df.select('user_id','censor_status','work_year').show()
dt = temp_df.select('user_id','censor_status','work_year').toPandas()
dt.to_csv("censor.csv")
# all_type = df.select(df.censor_status).distinct().toPandas()['censor_status'].tolist()
# print(all_type)
# total_num = temp_df.count()
# s_temp_df = temp_df.where("employer_type=1")
# num1 = s_temp_df.count()/total_num

# temp_df = df.select(F.when(df.employer_type==1,1).when(df.employer_type==2,2).when(df.employer_type==3,3).alias("employer_type"))

['9 years', '7 years', '8 years', '6 years', '10+ years']
+-------+-------------+---------+
|user_id|censor_status|work_year|
+-------+-------------+---------+
|      1|            2|10+ years|
|      2|            1|10+ years|
|      5|            2|10+ years|
|      6|            0|  8 years|
|      7|            2|10+ years|
|      9|            0|10+ years|
|     10|            2|10+ years|
|     15|            1|  7 years|
|     16|            2|10+ years|
|     17|            0|10+ years|
|     18|            1|10+ years|
|     20|            1|  7 years|
|     21|            2|10+ years|
|     25|            2|10+ years|
|     26|            0|10+ years|
|     30|            0|10+ years|
|     31|            0|  6 years|
|     33|            1|10+ years|
|     38|            0|10+ years|
|     39|            1|10+ years|
+-------+-------------+---------+
only showing top 20 rows